<style>
body {
  background-color: Ghostwhite;
}
h1 {
  color:#B94E3F;
  text-align:center;
  font-size: 110px;
  font-style: italic;
}
h2 {
  color:#DA7253;
  text-align:center;
  font-size: 60px;
  font-style: italic;
}
h4 {
  color:#E48C2C;
  font-size: 21px;
}
h5 {
  color:#FBC631;
  font-size: 15px;
}
</style>
